@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

/* 🌍 Áp dụng global style */
@layer base {
  body {
    @apply font-sans text-gray-800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  label,
  strong {
    font-family: var(--font-poppins);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
