server:
  port: 8888

app:
  api-prefix: /api/v1

spring:
  application:
    name: api_gateway
  cloud:
    gateway:
      routes:
        - id: auth_service
          uri: http://localhost:8080
          predicates:
            - Path=${app.api-prefix}/auth/**
          filters:
            - StripPrefix=2
